
<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from www.itcomputerinstitute.com/coursedetails.php?cid=TWc9PQ== by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:13 GMT -->
<head>
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="author" content="WRIGLECS" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Computer Institute - Climax Computer Institutes is the best Computer institute in . We are offering DCA, ADCA, CCC & O level & Tally Courses. We are also offering Programing Courses C Language, C++, Java etc." />
<meta name="keywords" content="Best computer institute in , computer institute, pmkvy, pradhan mantri kaushal vikas yojana, pmkvy, Climax Computer Institutes  in , DCA, ADCA, ccc, o level, java, c, c++ courses " />
<title>Climax Computer Institutes</title>
<!-- FAVICON FILES and Touch Icons -->
	<link href="images/fav.png" rel="apple-touch-icon" sizes="144x144">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/fav.png" rel="apple-touch-icon">
	<link href="images/fav.png" rel="shortcut icon">
<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link href="css/menuzord-megamenu.css" rel="stylesheet"/>
<link id="menuzord-menu-skins" href="css/menuzord-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/theme-skin-color-set4.css" rel="stylesheet" type="text/css">
<!-- external javascripts -->


</head>
<body class="">
<div id="wrapper" class="clearfix">
    
  <!--<script type="text/javascript">
function find_branch($mysqli,val)
{
	location.href='branches.php?branchid='+val;
	return false;
}
</script>-->
 <!-- Header -->
 <%- include('partials/Header') %>
               <style>
			.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
			}
			</style>  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
 <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="images/bg3.jpg">
      <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-12">
              <h2 class="text-white font-36">Short Term Courses</h2>
              <ol class="breadcrumb text-left mt-10 white">
                <li><a href="index-2.html">Home</a></li>
                <li class="active">Short Term Courses</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <section class="position-inherit">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12">
            <div class="col-md-8">
            <div id="section-one" class="event-details mb-50">
<style>
.course-contents {
    display: block;
    overflow: hidden;
    width: 100%;
    border: 0px solid #A9A9A9;
    padding: 10px;
    margin: 20px auto;
    background-color: #F5F5F5;
}
.course-contents .course {
    display: block;
    width: 30%;
    height: auto;
    float: left;
    overflow: hidden;
}
.course-contents .course img {
    width: 100%;
    height: auto;
    border: 0px solid #A9A9A9;
}
img {
    vertical-align: middle;
}
.course-contents .contents {
    width: 70%;
    border: 0px solid #FFCC00;
    padding: 10px 20px;
    float: left;
}
.course-contents .contents h3 {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #C9C9C9;
}
.course-contents .quick-btn {
    margin: 10px auto;
    border: 0px solid #FFCC00;
}
.course-contents .quick-btn ul {
    list-style: none;
    display: block;
    overflow: hidden;
}
.course-contents .contents ul {
    margin-left: 0;
}
ul, ol {
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
</style>
<!-- ---------------dynamic courses  ----------- -->
<% course.forEach(course => { %>
  <div class="course-contents mb-4">
    <div class="row">
      <!-- Course Image -->
      <div class="col-md-4">
        <div class="course-image-container">
          <img src="data:image/jpeg;base64,<%= course.images %>" alt="<%= course.title %>" class="course-image">
        </div>
      </div>

      <!-- Course Details -->
      <div class="col-md-8">
        <div class="contents p-3">
          <h3 class="mb-3"><%= course.title %></h3>
          <!-- Description Section -->
          <div class="description mb-3">
            <p><%= course.description %></p>
          </div>
          <!-- Quick Button -->
          <div class="quick-btn">
            <!-- Add your button or link here if needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
<% }) %>
<!-- ---------------dynamic courses end  ----------- -->
              

              

              

              
		
</div>
</div>
</div>
</div>
<div class="col-md-4">
<style>
.ask-our-expert {
    background: #FCFCFC;
    border: 0px solid #C0C0C0;
    padding: 15px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #333;
    margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: 400;
    border: 0px solid red;
    line-height: 150%;
    text-shadow: none;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 2.428571;
    color: #555;
    background-color: #F7F7F7;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn {
    border-radius: 0;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
</style>
 
</div>
</div>
</div>
</section>
<!-- end main-content -->
</div>
<!-- Footer -->
<%- include('partials/Footer') %>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>



<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
<!-- end wrapper -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Footer Scripts -->
<script src="js/custom.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal2').modal('show');
    });
</script>
<!-- WhatsHelp.io widget --></body>

<!-- Mirrored from www.itcomputerinstitute.com/coursedetails.php?cid=TWc9PQ== by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:17:17 GMT -->
</html>