<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from www.itcomputerinstitute.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 10:16:17 GMT -->
<head>
<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="author" content="WRIGLECS" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="Computer Institute - Climax Computer Institutes is the best Computer institute in . We are offering DCA, ADCA, CCC & O level & Tally Courses. We are also offering Programing Courses C Language, C++, Java etc." />
<meta name="keywords" content="Best computer institute in , computer institute, pmkvy, pradhan mantri kaushal vikas yojana, pmkvy, Climax Computer Institutes  in , DCA, ADCA, ccc, o level, java, c, c++ courses " />
<title>Climax Computer Institutes</title>
<!-- FAVICON FILES and Touch Icons -->
	<link href="images/fav.png" rel="apple-touch-icon" sizes="144x144">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="114x114">
	<link href="images/fav.png" rel="apple-touch-icon" sizes="72x72">
	<link href="images/fav.png" rel="apple-touch-icon">
	<link href="images/fav.png" rel="shortcut icon">
<!-- Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<link href="css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link href="css/menuzord-megamenu.css" rel="stylesheet"/>
<link id="menuzord-menu-skins" href="css/menuzord-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="css/responsive.css" rel="stylesheet" type="text/css">
<link href="css/theme-skin-color-set4.css" rel="stylesheet" type="text/css">
<!-- external javascripts -->


</head>
<body class="">
<div id="wrapper" class="clearfix">
    

 <!-- Header -->
  
  <%- include('partials/Header') %>
               <style>
			.closebtn {
			margin-left: 15px;
			color: white;
			font-weight: bold;
			float: right;
			font-size: 22px;
			line-height: 20px;
			cursor: pointer;
			transition: 0.3s;
			}
			</style>  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" style="background:#eee;">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
        
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
<li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
					<div class="item active ">
                  <a href="#">
                  <img src="new/banner/ori/1582854179590.jpg" alt="Slider" style="width:100%;">
                  </a>
                  <!--<div class="carousel-caption">
                    <p>Content here..</p>
                  </div>-->
                </div>
									<div class="item">
                  <a href="#">
                  <img src="new/banner/ori/1553675574677.jpg" alt="Slider" style="width:100%;">
                  </a>
                  <!--<div class="carousel-caption">
                    <p>Content here..</p>
                  </div>-->
                </div>
									<div class="item">
                  <a href="#">
                  <img src="new/banner/ori/1553675601208.jpg" alt="Slider" style="width:100%;">
                  </a>
                  <!--<div class="carousel-caption">
                    <p>Content here..</p>
                  </div>-->
                </div>
									<div class="item">
                  <a href="#">
                  <img src="new/banner/ori/1553675611578.jpg" alt="Slider" style="width:100%;">
                  </a>
                  <!--<div class="carousel-caption">
                    <p>Content here..</p>
                  </div>-->
                </div>
								
				
                                
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
             </div>
            </div>
            
                </section>
<div class="container">
      <div class="col-md-12">
	  <h2 style="margin-top:0px;line-height:50px;text-align:center;font-weight:800;"> OUR ADVERTIESMENT</h2><br/> 
<marquee style="padding:20px;" scrolldelay='2' onMouseOver="this.stop()" onMouseOut="this.start()"">
<h1>
<img class="alignnone size-full wp-image-4843" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCN2n-iWKelXlf9Oox-6pbRd4vvLM887-Scw&s" alt="" style="height:150px; width:200px;border: white 7px solid;box-shadow: lightgrey 0px 0px 0px 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img class="alignnone size-full wp-image-4843" src="https://i.pinimg.com/236x/bb/e4/b2/bbe4b2b8dec357ba694e27362fed388e.jpg" alt="" style="height:150px; width:200px;border: white 7px solid;box-shadow: lightgrey 0px 0px 0px 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img class="alignnone size-full wp-image-4843" src="https://i.pinimg.com/236x/8a/6e/12/8a6e121afadb8d6447deb9b39642a6ea.jpg" alt="" style="height:150px; width:200px;border: white 7px solid;box-shadow: lightgrey 0px 0px 0px 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h1>
</marquee>
	 </div>
    </div>
    <!-- Section: home-boxes -->
    <section>
     	</section>
    
    <section id="about">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
             <h2> About Us</h2>
              <div class="double-line-bottom-theme-colored-2"></div>
             

<p align="justify">Climax Computer Institutes running from 2023, conducting various commercial training and Skill Development programs. Generation Next Infotech is working across whole nation with Various Authorized Study Center (ASC) and a wide network in many states of the country. Our society decided to work for "Information & Technology for all", the slogan by the Indian Govt. For formulating the dream of Indian Govt. and to fulfill the requirement of employment of 22 Lac in I.T. Technologist and more than other 10 Lac ancillary requirement of computer operator / specialist in industrial development, small scale industries.
</p>
              
              <div><a href="page5887.html?id=TVRreg==" class="btn btn-theme-colored mb-sm-30">Read More</a></div>
            </div>
            <div class="col-md-6">
               <h2> Director Message </h2>
              <div class="double-line-bottom-theme-colored-2"></div>
             

<p align="justify">Climax Computer Institutes  offers one of the most prestigious (Computer Applications) Program in the Country.
 Approved by Govt.of Uttar Pradesh Lucknow   and   The Institute is committed to provide quality education, and to do so a perfect blend of senior, experienced educationist and young breed of energetic teachers comprise the faculty. We encourage the staff to adopt innovative and interactive methods of teaching in order to make the institute an example of posterity.The pursuit of knowledge and understanding has constantly propelled our journey towards
</p>
<div><a href="page28d3.html?id=TVRjNA==" class="btn btn-theme-colored mb-sm-30">Read More</a></div>

            </div>
          </div>
        </div>
      </div>    </section>
    
    <section class="parallax layer-overlay overlay-theme-color-3" data-bg-img="images/bg3.jpg" data-parallax-ratio="0">
      <div class="container pt-60 pb-60">
        <div class="row">
          <div class="col-md-12">
		  <h2 style="text-align:center;color:#fff;margin:0px;padding:0px;">Courses Offers</h2><br/><br/>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      
                <div class="owl-carousel-3col owl-nav-top" data-nav="true">
				
				
					 
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails52ef.html?cid=TVE9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647019414.png" alt="Nielit Courses" title="Nielit Courses" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Nielit Courses</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails2a75.html?cid=TWc9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647039707.png" alt="Short Term Courses" title="Short Term Courses" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Short Term Courses</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails6af6.html?cid=TXc9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647058685.jpg" alt="Tally Course" title="Tally Course" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Tally Course</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails49d9.html?cid=TlE9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1715502351412.png" alt="Diploma Course" title="Diploma Course" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Diploma Course</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails9160.html?cid=Tmc9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647182641.jpg" alt="Android Programs" title="Android Programs" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Android Programs</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetailse25f.html?cid=Tnc9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647206138.png" alt="Programming Courses " title="Programming Courses " class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Programming Courses </h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails3101.html?cid=T0E9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/15456472205.jpg" alt="Typing & Shorthand" title="Typing & Shorthand" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Typing & Shorthand</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetailsf73a.html?cid=T1E9PQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/1545647242255.png" alt="University Courses" title="University Courses" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">University Courses</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails5289.html?cid=TVRBPQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/index.html" alt="Ha" title="Ha" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Ha</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails3d09.html?cid=TVRFPQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/index.html" alt="Diploma In Beauty Parlour" title="Diploma In Beauty Parlour" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Diploma In Beauty Parlour</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
  
				<div class="item">
                  <article class="post clearfix mb-30" style="border: #fe8401 5px solid" >
				   <a href="coursedetails5a9c.html?cid=TVRJPQ==">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
      <img src="new/images/user/index.html" alt="Diploma In Office Automation & Publishing( DOAP)" title="Diploma In Office Automation & Publishing( DOAP)" class="img-responsive img-fullwidth" style="height:220px;"> 
                      </div>                    
                      
                    </div>
                    <div class="entry-content p-15" data-bg-color="#fe8401" style="height:80px;">
                      <h4 class="entry-title text-white text-uppercase font-weight-600 m-0 mt-5">Diploma In Office Automation & Publishing( DOAP)</h4>
                     
                    </div>
					 </a>
                  </article>
                </div>
                                 
               
                
                
                
              </div>
                
                
                
            </div>
          </div>
          
        </div>
      </div>    </section>
    
	<!-- Section About -->
    <section>
      <div class="container pt-50 pb-40">
        <div class="section-title">
          <div class="row">
            <div class="col-md-4">
              <h3 class="text-uppercase font-weight-600 mt-0">Why <span class="text-theme-colored2">Us</span></h3>
              <div class="double-line-bottom-theme-colored-2"></div>
             <p class="font-16 mt-20">What does a candidate look for in an institution for pursuing O'level or CCC ?</p>

<ul class="list theme-colored2 angle-double-right">
	<li>Institute&rsquo;s Credibility</li>
	<li>Faculty Resource</li>
	<li>Infrastructure</li>
	<li>Placements</li>
	<li>Curricular &amp; Extra Curricular Activities</li>
</ul>
<a href="#" class="btn btn-colored btn-theme-colored2 text-white btn-lg pl-40 pr-40 mt-10">Read More</a>
            </div>
            
			<div class="col-md-4">
              <h3 class="text-uppercase font-weight-600 mt-0 mt-sm-30">Some <span class="text-theme-colored2">Facts</span></h3>
              <div class="double-line-bottom-theme-colored-2"></div>
              	<div class="owl-carousel-1col" data-nav="true">
				                                  <div class="item"> <img src="upload/gallery/155367585327351.jpg" alt="" title=""> </div>
                                                                      <div class="item"> <img src="upload/gallery/155367584710838.jpg" alt="" title=""> </div>
                                                                      <div class="item"> <img src="upload/gallery/155367582919000.jpg" alt="" title=""> </div>
                                                                        
                </div>
              
            </div>
            <div class="col-md-4">
              			  <style>
.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #eee;
}

.noticetab .nav-tabs {
    border-bottom: 1px solid #fff;
}
.noticetab .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 100%;
}
.noticetab .nav-tabs>li>a {
    
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: #003366;
    color: #fff;
    padding: 10px 14px;
}
b, strong {
    font-weight: 700;
}
.panel-body {
    padding: 5px;
	}
	
.fade.in {
    opacity: 1;
}
ul.lst li:last-child {
    border-bottom: none;
}
ul.lst li {
    line-height: 20px;
    margin-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}
</style><br/>
<div class="panel panel-default">
<ul class="nav nav-tabs" style="background:#003366;padding:12px;">
<a href="#dlp2017" data-toggle="tab" class="text-center" style="color:#fff;"><strong>News &amp; Events</strong></a>
</ul>
<div class="panel-body">
<div class="tab-content" style="border:none;">
<div class="tab-pane fade in active" id="dlp2017" style="height:230px;">
<marquee behavior="scroll" direction="up" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();" style="height:230px;">
<ul class="lst">
  
<!------------     -------------->
<li><p>&nbsp;<strong>Admission Open For New Students</strong></p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
  
<!------------     -------------->
<li><p>&nbsp;Wanted Training Centers In Block Level Hurry Up, contact- 999999999,999999999</p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
  
<!------------     -------------->
<li><p>&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quam sequi adipisci beatae similique aspernatur sunt suscipit ipsam quisquam enim.&nbsp;</p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
  
<!------------     -------------->
<li><p>&nbsp;All&nbsp; Climax Computer Institutes Center &nbsp; 2024 &nbsp;</p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
  
<!------------     -------------->
<li><p><strong>CCC/ O Level Registration</strong></p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
  
<!------------     -------------->
<li><p><strong>Welcome to &nbsp;COMPUTER INSTITUTE</strong></p>&nbsp;&nbsp;<img src="images/new_blink_img.gif"></li>
 
<!------------  ------------>
</ul>
</marquee>
</div>
</div>
</div>
</div>          </div>
        </div>
      </div>    </section>
  
    
  
    <section class="parallax Divider layer-overlay overlay-white-colored-8" data-bg-img="images/bg7.jpg" data-parallax-ratio="0.4">
          </section>


<!-- end main-content -->
</div>
<!-- Footer -->
<!-- <footer id="footer" class="footer" data-bg-color="#d7010a">
    <div class="container pt-70 pb-40">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            
             <h4 class="widget-title line-bottom-theme-colored-2"><strong>ABOUT US</strong></h4>
			<p style="color:#FFFFFF;">Climax Computer Institutes it has been running Under the Aegis of MSME Reg. with Govt. of India.  Climax Computer Institutes is An ISO 9001 : 2015 Certified Institute, is a leading IT Education Provider Institution in India with strong presence in the state of Uttar Pradesh, Madhya Pradesh & Maharashtra.&nbsp;&nbsp;<a href="pageca5d.html?id=TVRnPQ==" style="color:orange;">Read More..</a></p>
            <ul class="list-inline mt-5" style="color:#FFFFFF;">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:+91 9359444821,7830166502">+91 9999999999,9999999999</a></li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> <a class="text-gray" href="mailto:info@itcomputerinstitute.com">info@complexcomputer.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored2 mr-5"></i> <a class="text-gray" href="index-2.html">www.complexcomputer.com</a> </li>
            </ul>            
            <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10" style="color:#FFFFFF;">
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
         
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Useful Links</h4>
            <ul class="angle-double-right list-border">
			<li><a href="pageca5d.html?id=TVRnPQ==" ><i class="fa fa-arrow-right"></i> Organizations Profile</a></li>
			<li><a href="page02a9.html?id=TVRrMA==" ><i class="fa fa-arrow-right"></i> Why Climax Computer Institutes?</a></li>
              <li><a href="gallery.html" ><i class="fa fa-arrow-right"></i> Gallery </a></li>
              <li><a href="contact-us.html" ><i class="fa fa-arrow-right"></i> Contact Us</a></li>
			<li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Admin Login</a></li>
             
              <li><a href="new/index.html" target="_blank"><i class="fa fa-arrow-right"></i> Centre Login</a></li>
             
            
                 
            </ul>
          </div>
        </div>
        
        
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Other Network Sites</h4>
            <ul class="angle-double-right list-border">
			<li><a href="verify.html"><i class="fa fa-arrow-right"></i> Student Verifications</a></li>
              	<li><a href="login.html"><i class="fa fa-arrow-right"></i> Student Login</a></li>
              	
                      <li><a href="certificate-verification.html"><i class="fa fa-arrow-right"></i> Certificate Verifications</a></li>
                      <li><a href="http://www.nielit.gov.in/Certificate/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Certificate</a></li>
                       <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit O'level Result</a></li>
                        <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download CCC Result</a></li>
                         <li><a href="http://student.nielit.gov.in/"target="blank"><i class="fa fa-arrow-right"></i> Download Nielit Admit Card</a></li>
                       <li><a href="http://www.sarkariresult.com/" target="blank"><i class="fa fa-arrow-right"></i> Get Latest Jobs</a></li>
                      
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h4 class="widget-title line-bottom-theme-colored-2">Find us on Map</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14156.573086082033!2d79.1736304!3d27.4959194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0c277!2sI.T.%20Computer%20Institute%20Aliganj%20Etah!5e0!3m2!1sen!2sin!4v1574935346939!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom" data-bg-color="#000">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-12 text-black-777 m-0 sm-text-center">Copyright &copy; 2019 Climax Computer Institutes. All Rights Reserved</p>
            <p class="font-10 text-black-777 m-0 sm-text-center">Developed by <a href="#" target="_blank">WindEagle Corps.</a></p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="index-2.html">Home </a>
                </li>
                <li>|</li>
                <li>
                  <a href="page5887.html?id=TVRreg==">About Us</a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  <%- include('partials/Footer') %>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>





<!-- end wrapper -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection -->
<script src="js/jquery-plugin-collection.js"></script>
<!-- Footer Scripts -->
<script src="js/custom.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal2').modal('show');
    });
</script>

</html>
